{
    "presets": [
      ["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
      ["@babel/preset-react", {
        "pragma": "h", 
        "pragmaFrag": "Fragment", 
        "runtime": "classic" 
      }]
    ],
    "plugins": [
      ["@babel/plugin-transform-react-jsx", {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }],
      [
        "@babel/plugin-syntax-class-properties"
      ]
    ]
}