.table_parameter {
    background-color: var(--BLUE);
    padding: 10px;
    font-family: 'CenturyGothic_bold';
    border-radius: 5px;
    border: 1px solid var(--WHITE);
    /* -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
    box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); */
    font-size: 18px;
    padding: 20px 40px;
    cursor: pointer;
    height: 610px;
    margin-top: 30px;
}
.table_parameter th,
.table_parameter td {
    padding: 10px;
    text-align: left;
}
.table_parameter tr:hover td {
    background-color: var(--SKY_BLUE);
}

.table_parameter table {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
/* Parameters */
.parameters_box {
    background-color: var(--BLUE);
    padding: 10px;
    font-family: 'CenturyGothic_bold';
    border-radius: 5px;
    border: 1px solid var(--WHITE);
    /* -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
    box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); */
    font-size: 18px;
    padding: 20px 40px;
    cursor: pointer;
    height: 490px;
    margin-top: 30px;
}
.parameters_box > div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 15px 0;
}
.parameters_box table {
    width: 100%;
}
.parameters_box div:first-of-type p:nth-child(2) {
    padding-left: 50px;
}
.parameter_buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.special_h3 {
    margin: 0 0 10px 0 ; 
}
.initialize_frontend_box {
    background-color: var(--BLUE);
    padding: 10px;
    font-family: 'CenturyGothic_bold';
    border-radius: 5px;
    border: 1px solid var(--WHITE);
    /* -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
    box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); */
    font-size: 20px;
    padding: 20px 40px;
    cursor: pointer;
    height: 480px;
    width: 450px;
    margin-top: 30px;
}
.initialize_frontend_box p {
    font-size: 16px;
}
.warning_special h3, .warning_special p {
    color: var(--RED);
}
.initialize_frontend_box_two {
    display: flex;
    justify-content: space-between;
    gap: 250px;
}
.service_box_settings a {
    display: flex;
}
.load_parameters {
    width: 520px;
    margin-top: 30px;
}

@media (min-width: 308.98px) and (max-width: 575.98px) {
    .service_box_settings {
        width: 300px;
        height: 550px;
    }
    .service_box_settings img {
        margin: 5px;
    }
    .service_box_settings p {
        font-size: 15px;
        margin: 0;
    }
    .service_box_settings a {
        align-items: center;
    }
    .table_parameter {
        width: 300px;
        height: 500px;
    }
    .table_parameter table {
        overflow: auto;
        position: relative;
        border-spacing: 1px;
        table-layout: fixed;
        width: 100%;
    }
    .table_parameter th,
    .table_parameter td {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--BLUE);
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .table_parameter td:hover {
        overflow: visible;
        white-space: normal;
    }
    .service_flex {
        height: 640px;
        width: 280px;
        display: block;
    }
    .load_parameters {
        width: 340px;
    }
    .initialize_frontend_box {
        width: 340px;
    }
    .initialize_frontend_box_two {
        gap: 100px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.table_parameter {
        padding: 10px 25px;
    }
    .service_box_settings {
        height: 640px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .table_parameter {
        margin-bottom: 40px;
    }
    .service_box_settings {
        height: 580px;
    }
}