/* Extra small devices (phones) */
@media (min-width: 308.98px) and (max-width: 575.98px) { 
    /* main {
        flex: 1;
    } */
    html {
        display: flex;
        flex-direction: column;
        /* height: 100%; */
        background: var(--BERTIN_BLUE);
    }
    html, body {
        background-image: url('./assets/background_mobile.svg');
	    background-position: top;
	    background-size: cover;
    }
    .error {
        font-size: 14px;
    }
    .alpha_main {
        /* flex: 1;
        overflow: auto; */
        margin: 40px 0;
        height: none;
    }
    header {
        padding: 0 5px;
    }
    header h3 {
        font-size: 20px;
    }
    .header_alpha_main {
        display: block;
    }
    .header_main_wrapper_two {
        display: block;
        text-align: right;
    }
    .battery {
        width: 12px;
        height: 30px;
        margin-top: 0;
    }
    .save_special {
        position: fixed;
        top: 50%;
        right: 10%;
        width: 35%;
        z-index: 1000;
    }
    footer {
        margin: 0;
        position: static;
    }
    footer img {
        width: 180px;
    }
    .footer_main {
        justify-content: center;
        gap: 5px;
    }
    .footer_main button {
        font-size: 16px;
    }
    .footer_main button img {
        width: 10px;
    }
    .battery_status {
        margin: 0;
    }
    .battery_status p:last-child {
        padding: 5px 10px;
    }
    .login {
        font-size: 14px;
        padding: 0 10px;
    }
    .login_home h1 {
        font-size: 24px;
        padding: 5px; 
    }
    .login_home h3 {
        font-size: 14px;
        margin: 0;
        padding-bottom: 20px;
    }
    .home {
        margin: 40px 10px 0 10px;
    }
    .submit {
        font-size: 16px;
    }
    .admin_logout {
        display: none;
    }
    .main_nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main_nav button {
        font-size: 16px;
        padding: 5px 10px;
    }
    .dropdown {
        width: 90%;
    }
    .alpha_status_table {
        margin: 50px 0;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .table_parameter td {
        overflow: scroll;
    }
    .table_actual_statistic td {
        border: 2px solid var(--BLUE);
        border-radius: 5px;
    }
    .table_actual td, .table_actual_second td {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid var(--BLUE);
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .table_actual table, .table_actual_second table, .table_actual_statistic table {
        border-spacing: 0px;
        table-layout: fixed;
    } 
    .table_actual td:hover, .table_actual_second td:hover {
        overflow: auto;
        white-space: normal;
    }
    .user_footer_show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--BLUE);
        padding: 15px 30px;
        border-radius: 5px;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
	    box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3);
    }
    .user_footer_show a {
        text-decoration: none;
        color: var(--WHITE);
    }
    .footer_main {
        display: block;
        margin: 0;
        padding: 0;
    }
    .footer_main button {
        margin: 0;
    }
    .battery_status {
        padding: 0;
        font-size: 12px;
    }
    .about_section {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .logo_user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bertin_logo {
        margin-top: 10px;
    }
    .table_container {
        overflow: auto;
        position: relative;
        width: 80%;
    }
    .table_container_mobile {
        width: 100%;
    }
    .table_container td, .table_container th {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--BLUE);
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 220px;
    }
    .table_container table { 
        border-spacing: 0px;
        table-layout: fixed;
    } 
    .table_container td:hover {
        overflow: visible;
        white-space: normal;
    }
    .files_box .table_container th:not(:first-child):not(:last-child),
    .files_box .table_container td:not(:first-child):not(:nth-child(5)) {
    display: none;
    }
    .column-selector {
        gap: 5px;
    }
    .first_row {
        display: none;
    }
    .action_buttons {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .action_buttons_two {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .action_buttons_three {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .parameters_box {
        height: 540px;
    }
    .toggle_visibility_button{
        right: 39%;
    }
    .initialize_frontend_box {
        width: 290px;
        height: 510px;
    }
    .initialize_frontend_box_two {
        gap: 60px;
    }
} 

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    html {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: var(--BERTIN_BLUE);
    }
    html, body {
        background-image: url('./assets/background_mobile.svg');
	    background-position: top;
	    background-size: cover;
    }
    header {
        padding: 0 5px;
    }
    header h3 {
        font-size: 24px;
    }
    .battery {
        width: 15px;
        height: 35px;
        margin-top: 0;
    }
    footer {
        margin: 0;
        position: static;
    }
    footer img {
        width: 280px;
    }
    .footer_main {
        justify-content: center;
        gap: 5px;
        font-size: 18px;
    }
    .footer_main button {
        font-size: 20px;
    }
    .footer_main button img {
        width: 10px;
    }
    .battery_status {
        margin: 0;
    }
    .battery_status {
        font-size: 20px;
    }
    .battery_status p:last-child {
        padding: 5px 60px;
    }
    .login {
        font-size: 14px;
        padding: 0 100px;
    }
    .login_home h1 {
        font-size: 28px;
        padding: 5px; 
    }
    .login_home h3 {
        font-size: 18px;
        margin: 0;
        padding-bottom: 20px;
    }
    .home {
        margin: 40px 40px 0 40px;
    }
    .submit {
        font-size: 20px;
    }
    .admin_logout {
        display: none;
    }
    .main_nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main_nav button {
        font-size: 16px;
        padding: 5px 10px;
    }
    .dropdown {
        width: 90%;
    }
    .action_button {
        font-size: 20px;
    }
    .alpha_status_table {
        margin: 50px 20px;
        flex-direction: column;
        gap: 10px;
    }
    .table_actual {
        font-size: 24px;
        width: 100%;
        padding: 0;
    }
    .table_actual_statistic {
        font-size: 24px;
        width: 450px;
        padding: 0;
    }
    .table_actual table {
        width: 90%;
    }
    .table_actual_second table {
        width: 100%;
        padding: 40px 20px;
    }
    .table_actual_second {
        font-size: 16px;
        padding: 0 10px;
    }
    .table_actual_second td:first-child {
        width: 220px;
    }
    .table_actual_second td:last-child {
        overflow: scroll;
        text-overflow: clip;
    }
    .table_parameter td {
        overflow: scroll;
    }
    .table_actual_statistic td {
        border: 2px solid var(--BLUE);
        border-radius: 5px;
    }
    .table_actual td, .table_actual_second td {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid var(--BLUE);
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .table_actual table, .table_actual_second table, .table_actual_statistic table {
        border-spacing: 0px;
        table-layout: fixed;
    } 
    .table_actual td:hover, .table_actual_second td:hover {
        overflow: auto;
        white-space: normal;
    }
    .user_footer_show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--BLUE);
        padding: 10px;
        border-radius: 5px;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
	    box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3);
    }
    .user_footer_show a {
        text-decoration: none;
        padding: 0 10px;
        color: var(--WHITE);
    }
    .footer_main {
        display: block;
        padding-bottom: 20px;
    }
    .footer_main button {
        margin: 0;
    }
    .battery_status {
        padding: 0;
    }
    .about_section {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        gap: 10px;
    }
    .logo_user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }
    .bertin_logo {
        margin-top: 10px;
    }
    .files_box {
        font-size: 20px;
    }
    .files_box .table_container th:not(:first-child):not(:last-child),
    .files_box .table_container td:not(:first-child):not(:last-child) {
    display: none;
    }
    .column-selector {
        gap: 5px;
    }
    .measure_box > div {
        width: 610px;
        padding: 20px;
        font-size: 18px;
    }
    .measure_box >div:nth-child(3) {
        height: 300px;
    }
    .measure_box form div:first-child {
        display: block; 
    }
    .measure_box form div:first-child input:last-child {
        margin-top: 10px;
        width: 95%;
    }
    .measure_box > div:nth-child(4) form {
        gap: 50px;
    }
    .device_box > div {
        width: 610px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
    .device_box > div form {
        gap: 160px;
        font-size: 20px;
    }
    .device_box > div:nth-child(2) form:nth-child(2) {
        gap: 90px;
        font-size: 14px;
    }
    .device_box > div:nth-child(2) form:nth-child(2) span {
        gap: 5px;
    }
    .text {
        width: 260px;
        text-align: center;
    }
    .ethernet_mobile {
        margin: 0;
        display: block;
    }
    .ethernet_box {
        height: 580px;
        width: 610px;
        padding: 20px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        margin: 0;
    }
    .ethernet_box h3 {
       margin: 0;
       padding-left: 5px;
    }
    .ethernet_box > div {
        width: 480px;
        padding: 10px;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .ethernet_box form:nth-child(2) {
        justify-content: center;
    }
    .ethernet_box form:nth-child(3) input {
       width: 95px;
    }
    .ethernet_box form:nth-child(7) input {
        width: 95px;
    }
    .ethernet_box form:nth-child(5) input {
        width: 95px;
    }
    .ethernet_special {
        margin-bottom: 20px;
    }
    .ipv6_box {
        width: 530px;
        margin: 0;
        padding: 10px 20px;
    }
    .ipv6_mobile {
        width: 580px;
        margin: 0;
    }
    .ipv6_box h3 {
        text-align: center;
    }
    .wifi_box > div {
        width: 610px;
        padding: 10px;
    }
    .wifi_box h3 {
        padding: 0;
        text-align: center;
    }
    .ipv6_box form {
        gap: 160px;
        padding-left: 10px;
        justify-content: center;
    }
    input[name=device_mode]{
        text-align: left;
    }
    .input_special {
        margin: 0 168px;
    }
    .wifi_box form {
        padding: 0;
        text-align: center;
    }
    .wifiap_box input[name=ip] {
        width: 55px;
    }
    .wifiap_box form[name=wifiap] {
        justify-content: center;
    }
    .wifiap_box form[name=wifiap] input {
        width: 100px;
    }
    .toggle_visibility_button {
        right: 29%;
    }
    .users_table {
        width: 610px;
        font-size: 12px;
        display: block;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .first_row {
        display: none;
    }
    .row {
        flex-direction: column;
        margin: 10px 0;
        background-color: var(--BLUE);
        border-radius: 5px;
        -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
	    box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3);
        padding: 15px 90px;
    }
    .row h3 {
        padding: 0;
        display: block;
        font-size: 20px;
        margin: 0;
        text-align: left;
    }
    .row_two {
        justify-content: center;
    }
    .service_box, .service_box_settings {
        width: 520px;
        font-size: 18px;
    }
    .service_box {
        height: 580px;
    }
    .service_box_settings {
        height: 580px;
    }
    .service_box_settings .service_flex {
        align-items: center;
    }
    .service_box_settings .service_flex > div {
        width: 230px;
    } 
    .service_box_settings p {
        width: 300px;
    }
    .service_box_settings h3, .service_box h3 {
        text-align: center;
    }
    .table_parameter {
        width: 560px;
        height: 500px;
    }
    .table_parameter table {
        overflow: auto;
        position: relative;
        border-spacing: 1px;
        table-layout: fixed;
        width: 100%;
    }
    .table_parameter th,
    .table_parameter td {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--BLUE);
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .table_parameter td:hover {
        overflow: visible;
        white-space: normal;
    }
    .service_flex {
        height: 640px;
        width: 280px;
        display: block;
    }
    .action_buttons {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .action_buttons_two {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .action_buttons_three {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .about_box {
        width: 300px;
    }
    .about_box img:first-of-type {
        width: 120px;
        margin: 0;
    }
    .about_box img:last-of-type {
        width: 200px;
        margin: 0;
    }
    .parameters_box {
        height: 540px;
    }
    .table_container_mobile {
        width: 540px;
    }
}

/* Medium devices (laptops) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    html {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: var(--BERTIN_BLUE);
    }
    html, body {
        background-repeat: repeat;
    }
    header {
        padding: 0 5px;
    }
    header h3 {
        font-size: 24px;
    }
    .battery {
        width: 15px;
        height: 35px;
        margin-top: 0;
    }
    footer {
        margin: 0;
        position: static;
    }
    footer img {
        width: 280px;
    }
    .footer_main {
        justify-content: center;
        gap: 5px;
        font-size: 18px;
        padding-bottom: 20px;
    }
    .footer_main button {
        font-size: 20px;
    }
    .footer_main button img {
        width: 10px;
    }
    .battery_status {
        margin: 0;
    }
    .battery_status {
        font-size: 20px;
    }
    .battery_status p:last-child {
        padding: 5px 60px;
    }
    .login {
        font-size: 14px;
        padding: 0 100px;
    }
    .login_home h1 {
        font-size: 28px;
        padding: 5px; 
    }
    .login_home h3 {
        font-size: 18px;
        margin: 0;
        padding-bottom: 20px;
    }
    .home {
        margin: 40px 40px 0 40px;
    }
    .submit {
        font-size: 20px;
    }
    .admin_logout {
        display: none;
    }
    .main_nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main_nav button {
        font-size: 16px;
        padding: 5px 10px;
    }
    .dropdown {
        width: 60%;
    }
    .action_button {
        font-size: 20px;
        margin-top: 20px;
    }
    .alpha_status_table {
        margin: 50px 20px;
        flex-direction: column;
        gap: 10px;
    }
    .table_actual {
        font-size: 24px;
        width: 100%;
        padding: 0;
    }
    .table_actual_statistic {
        font-size: 24px;
        width: 450px;
        padding: 0;
    }
    .table_actual table {
        width: 90%;
    }
    .table_actual_second table {
        width: 100%;
        padding: 40px 20px;
    }
    .table_actual_second {
        font-size: 16px;
        padding: 0 10px;
    }
    .table_actual_second td:first-child {
        width: 220px;
    }
    .table_actual_second td:last-child {
        overflow: scroll;
        text-overflow: clip;
    }
    .table_parameter td {
        overflow: scroll;
    }
    .table_actual_statistic td {
        border: 2px solid var(--BLUE);
        border-radius: 5px;
    }
    .table_actual td, .table_actual_second td {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid var(--BLUE);
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .table_actual table, .table_actual_second table, .table_actual_statistic table {
        border-spacing: 0px;
        table-layout: fixed;
    } 
    .table_actual td:hover, .table_actual_second td:hover {
        overflow: auto;
        white-space: normal;
    }
    .user_footer_show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--BLUE);
        padding: 10px;
        border-radius: 5px;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
	    box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3);
    }
    .user_footer_show a {
        text-decoration: none;
        padding: 0 10px;
        color: var(--WHITE);
    }
    .footer_main {
        display: block;
    }
    .footer_main button {
        margin: 0;
    }
    .battery_status {
        padding: 0;
    }
    .about_section {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        gap: 10px;
    }
    .logo_user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }
    .bertin_logo {
        margin-top: 10px;
    }
    .files_box {
        font-size: 14px;
    }
    .table_container td, .table_container_mobile td {
        padding: 0;
    }
    /* .files_box .table_container th:not(:first-child):not(:last-child),
    .files_box .table_container td:not(:first-child):not(:last-child) {
    display: none;
    } */
    .column-selector {
        gap: 5px;
    }
    .measure_box > div {
        width: 610px;
        padding: 20px;
        font-size: 18px;
    }
    .measure_box >div:nth-child(3) {
        height: 300px;
    }
    .measure_box form div:first-child {
        display: block; 
    }
    .measure_box form div:first-child input:last-child {
        margin-top: 10px;
        width: 95%;
    }
    .measure_box > div:nth-child(4) form {
        gap: 50px;
    }
    .device_box > div {
        width: 610px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
    .device_box > div form {
        gap: 160px;
        font-size: 20px;
    }
    .device_box > div:nth-child(2) form:nth-child(2) {
        gap: 90px;
        font-size: 14px;
    }
    .device_box > div:nth-child(2) form:nth-child(2) span {
        gap: 5px;
    }
    .text {
        width: 260px;
        text-align: center;
    }
    .ethernet_mobile {
        margin: 0;
        display: block;
    }
    .ethernet_box {
        height: 580px;
        width: 610px;
        padding: 20px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        margin: 0;
    }
    .ethernet_box h3 {
       margin: 0;
       padding-left: 5px;
    }
    .ethernet_box > div {
        width: 480px;
        padding: 10px;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .ethernet_box form:nth-child(2) {
        justify-content: center;
    }
    .ethernet_box form:nth-child(3) input {
       width: 95px;
    }
    .ethernet_box form:nth-child(7) input {
        width: 95px;
    }
    .ethernet_box form:nth-child(5) input {
        width: 95px;
    }
    .ethernet_special {
        margin-bottom: 20px;
    }
    .ipv6_box {
        width: 530px;
        margin: 0;
        padding: 10px 20px;
    }
    .ipv6_mobile {
        width: 580px;
        margin: 0;
    }
    .ipv6_box h3 {
        text-align: center;
    }
    .wifi_box > div {
        width: 610px;
        padding: 10px;
    }
    .wifi_box h3 {
        padding: 0;
        text-align: center;
    }
    .ipv6_box form {
        gap: 160px;
        padding-left: 10px;
        justify-content: center;
    }
    input[name=device_mode]{
        text-align: left;
    }
    .input_special {
        margin: 0 168px;
    }
    .wifi_box form {
        padding: 0;
        text-align: center;
    }
    .wifiap_box input[name=ip] {
        width: 55px;
    }
    .wifiap_box form[name=wifiap] {
        justify-content: center;
    }
    .wifiap_box form[name=wifiap] input {
        width: 100px;
    }
    .toggle_visibility_button {
        right: 29%;
    }
    .users_table {
        width: 610px;
        font-size: 12px;
        display: block;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .first_row {
        display: none;
    }
    .row {
        flex-direction: column;
        margin: 10px 0;
        background-color: var(--BLUE);
        border-radius: 5px;
        -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
	    box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3);
        padding: 15px 90px;
    }
    .row h3 {
        padding: 0;
        display: block;
        font-size: 20px;
        margin: 0;
        text-align: left;
    }
    .row_two {
        justify-content: center;
    }
    .service_box, .service_box_settings {
        width: 520px;
        font-size: 18px;
    }
    .service_box {
        height: 580px;
    }
    .service_box_settings {
        height: 580px;
    }
    .service_box_settings .service_flex {
        align-items: center;
    }
    .service_box_settings .service_flex > div {
        width: 230px;
    } 
    .service_box_settings p {
        width: 300px;
    }
    .service_box_settings h3, .service_box h3 {
        text-align: center;
    }
    .table_parameter {
        width: 560px;
        height: 500px;
    }
    .table_parameter table {
        overflow: auto;
        position: relative;
        border-spacing: 1px;
        table-layout: fixed;
        width: 100%;
    }
    .table_parameter th,
    .table_parameter td {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--BLUE);
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .table_parameter td:hover {
        overflow: visible;
        white-space: normal;
    }
    .service_flex {
        height: 640px;
        width: 280px;
        display: block;
    }
    .action_buttons {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .action_buttons_two {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .action_buttons_three {
        position: static;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }
    .about_box {
        width: 300px;
    }
    .about_box img:first-of-type {
        width: 120px;
        margin: 0;
    }
    .about_box img:last-of-type {
        width: 200px;
        margin: 0;
    }
    .parameters_box {
        height: 540px;
    }
    .table_container_mobile {
        width: 540px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    html {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: var(--BERTIN_BLUE);
    }
    html, body {
        background-repeat: repeat;
    }
    .alpha_main {
        flex: 1;
        overflow: auto;
    }
    header {
        padding: 0 5px;
    }
    header h3 {
        font-size: 24px;
    }
    .battery {
        width: 15px;
        height: 35px;
        margin-top: 0;
    }
    footer {
        margin: 0;
        position: static;
    }
    footer img {
        width: 280px;
    }
    .footer_main button {
        font-size: 20px;
    }
    .footer_main button img {
        width: 10px;
    }
    .battery_status {
        margin: 0;
    }
    .battery_status {
        font-size: 20px;
    }
    .battery_status p:last-child {
        padding: 5px 60px;
    }
    .login {
        font-size: 14px;
        padding: 0 100px;
    }
    .login_home h1 {
        font-size: 28px;
        padding: 5px; 
    }
    .login_home h3 {
        font-size: 18px;
        margin: 0;
        padding-bottom: 20px;
    }
    .home {
        margin: 40px 40px 0 40px;
    }
    .submit {
        font-size: 20px;
    }
    .main_nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main_nav button {
        font-size: 16px;
        padding: 5px 10px;
    }
    .dropdown {
        width: 60%;
    }
    .action_button {
        font-size: 20px;
    }
    .action_buttons_two, .action_buttons_three {
        margin-bottom: 40px;
    }
    .table_parameter td {
        overflow: scroll;
    }
    .table_actual_statistic td {
        border: 2px solid var(--BLUE);
        border-radius: 5px;
    }
    .table_actual td, .table_actual_second td {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid var(--BLUE);
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .table_actual table, .table_actual_second table, .table_actual_statistic table {
        border-spacing: 0px;
        table-layout: fixed;
    } 
    .battery_status {
        padding: 0;
    }
    .about_section {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        gap: 10px;
    }
    .logo_user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }
    .bertin_logo {
        margin-top: 10px;
    }
}

@media (min-width: 1080px) and (max-width: 1920px) {
    html, body {
        height: fit-content;
        display: block;
    }
    footer {
        position: static;
    }
}
@media (min-width: 1930px) {
    html, body {
        height: fit-content;
        display: block;
    }
    footer {
        position: static;
    }
}