.about_box {
    background-color: var(--BLUE);
    border-radius: 5px;
    border: 1px solid var(--WHITE);
    /* -webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
	box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); */
    padding: 20px 50px;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.about_box img:first-of-type {
    width: 130px;
    margin-left: 80px;
}
.about_box img:last-child {
    width: 250px;
    margin-left: 20px;
}
.about_box p {
    text-align: left;
    font-size: 16px;
}
.about_box span {
    font-family: 'CenturyGothic_bold';
}

@media (min-width: 308.98px) and (max-width: 575.98px) {
    .about_box {
        width: 300px;
        height: 600px;
    }
    .about_box img:first-of-type {
        width: 120px;
        margin: 0;
    }
    .about_box img:last-of-type {
        width: 200px;
        margin: 0;
    }
    .about_section {
        padding-top: 10px;
    }
}