.main_nav {
    display: flex;
    margin-top: 20px;
	margin-bottom: 20px;
	gap: 15px;
	/* background-color: var(--BLUE);
	padding: 40px;
	border-radius: 5px;
	border: 2px solid var(--LIGHT_GREY); */
}
.main_nav button {
	padding: 5px 20px 5px 20px;
	font-size: 20px;
	background-color: var(--LIGHT_GREY);
	border: 2px solid transparent;
	border: none;
	-webkit-box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3); 
	box-shadow: 4px 5px 4px 0px rgba(80,80,80,0.3);
	border-radius: 5px;
	display: flex;
	align-items: center;
	font-family: 'CenturyGothic_bold';
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.main_nav button:hover {
	background-color: var(--BLUE);
	/* border: 2px solid var(--WHITE); */
}
.main_nav button.active {
	background-color: var(--BLUE);
	border: 2px solid var(--WHITE);
}
.main_nav button img {
	width: 24px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 4px;
	margin-left: 10px;
}
.alpha_main {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.secondary_nav {
    background-color: var(--BERTIN_BLUE);
}
.alpha_status_table {
	display: flex;
	gap: 30px;
	margin-top: 40px;
	height: 550px;
}
.main_nav button.hidden {
	display: none;
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.alpha_main {
		height: 860px;
		flex: 1;
        overflow: auto;
		margin-bottom: 60px;
	}
	.alpha_status_table {
		height: 700px;
	}
}
/* Medium devices (laptops) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	.alpha_main {
		height: 860px;
		flex: 1;
        overflow: auto;
		margin-bottom: 60px;
	}
}
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.alpha_status_table {
		height: 680px;
	}
	.alpha_main {
		height: 860px;
		flex: 1;
		overflow: auto;
		margin-bottom: 60px;
	}
}
@media (min-width: 1080px) and (max-width: 1920px) {
	.alpha_main {
		height: 880px;
	}
}