.loader_inner {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 4px solid var(--LIGHT_GREY);
    border-top: 4px solid var(--BLUE);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.message {
    font-size: 18px;
}
.update_message {
    display: flex;
    flex-direction: column;
}
.modal_content div:last-of-type  {
    margin: 0;
    margin-bottom: 10px;
}
  